body {
  margin: 0;
  font-family: sans-serif;
  user-select: none;
}
#map {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#3d7aa5, #1b3065);
}
#title {
  position: absolute;
  left: 5px; top: 5px;
  color: #fff;
  background: #00336f;
  border-radius: 10px;
  padding: 5px 20px;
  height: 35px;
  font-size: 25px;
  z-index: 1000;
  pointer-events: none;
}
#comment {
  position: absolute;
  background: #000a;
  top: 60px;
  left: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  z-index: 1000;
  pointer-events: none;
}
#com_maxint {
  font-size: 30px;
  margin: 0 10px;
}
#com-addition {
  font-size: 20px;
}
#occurred-time {
  position: absolute;
  background: #000a;
  top: 10px;
  right: 10px;
  width: auto;
  height: 40px;
  z-index: 1000;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  font-size: 28px;
  pointer-events: none;
}
#shindo-list {
  position: absolute;
  background: #000a;
  top: 80px;
  right: 10px;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  z-index: 1000;
  font-size: 20px;
  pointer-events: none;
}
#control_container {
  width: 640px;
  height: 150px;
  position: fixed;
  bottom: 21px;
  right: 55px;
  z-index: 1000;
  background: #222d;
  display: flex;
  border: 1px solid #fff;
}
#quake_selector, #quake_contents {
  height: 150px;
  width: 320px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.select_button {
  width: 320px;
  height: 26px;
  background: #a0c4e5;
  cursor: pointer;
  font-size: 12px;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
}
.select_button.sokuho {
  background: #fbeabc;
}
.select_button.region {
  background: #ddd;
}
#quake_selector::-webkit-scrollbar {
  display: none;
}
.select_button::-webkit-scrollbar {
  display: none;
}
.select_button.selected {
  background: #f7afb3;
}
#menu_quake_button {
  border: 1px solid #fff;
  background-color: #222d;
  color: #fff;
  font-size: 19px;
  position: fixed;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0; padding: 2px 6px;
  right: 55px;
  z-index: 1000;
}
#menu_quake_button.show {
  bottom: 172px;
}
#menu_quake_button.hide {
  bottom: 20px;
}
#color-select {
  position: absolute;
  left: 15px;
  bottom: 59px;
  font-size: 15px;
  z-index: 950;
  color: #fffd;
  background: #000a;
}

.maplibregl-ctrl-attrib.maplibregl-compact {
  margin: 0;
}
.maplibregl-ctrl-attrib-inner {
  height: 20px;
  font-size: 11px;
  padding: 0 10px;
  text-align: right;
  background-color: #fff7;
}
.maplibregl-popup * {
  pointer-events: none;
}
.maplibregl-popup-content {
  padding: 10px 10px;
  background: #fffd;
  backdrop-filter: blur(3px);
}

.bottom-menulist {
  position: absolute;
  left: 10px; bottom: 26px;
  display: flex;
  gap: 10px;
  font-size: 14px;
  z-index: 1000;
}
.bottom-menulist > * {
  display: block;
  color: #fff;
  background-color: #222d;
  padding: 3px 7px;
  border: solid 1px #999;
}
.bottom-menulist > button {
  font-size: 14px;
}
.info-bar {
  position: absolute;
  left: 10px;
  bottom: 0;
  display: flex;
  gap: 15px;
  font-size: 12px;
  z-index: 950;
  color: #fffd;
  background: #0004;
  padding: 3px;
}