<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{[{about-bpmchange-title:html}]}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/genshin-rmm/common.css" rel="stylesheet">
  <link href="/genshin-rmm/fonts/font.css" rel="stylesheet">
  <link rel="canonical" href="https://md-ndv356.github.io/genshin-rmm/{[{@langcode:str}]}/about-bpmchange.html">
  {{{alternate-links}}}
  <style>
    .contents {
      color: #f0f0f0;
      margin: 3px 0;
      padding: 5px 8px;
      width: calc(100dvw - 32px);
      max-width: 700px;
      border-radius: 10px;
    }
    img {
      max-width: 520px;
    }
  </style>
</head>
<body class="lang-{[{@langcode:str}]}">
<header>
  <div style="flex: 1;"><a href="/genshin-rmm/{[{@langcode:str}]}/" id="headtitle">{[{headtitle:html}]}</a></div>
  <div style="position: relative; width: 24px; height: 24px; display: inline-block;">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#000000" style="width: 100%; height: 100%; display: block;">
      <path fill="none" stroke="#bbb" stroke-width="2" d="M12,23 C18.0751322,23 23,18.0751322 23,12 C23,5.92486775 18.0751322,1 12,1 C5.92486775,1 1,5.92486775 1,12 C1,18.0751322 5.92486775,23 12,23 Z M12,23 C15,23 16,18 16,12 C16,6 15,1 12,1 C9,1 8,6 8,12 C8,18 9,23 12,23 Z M2,16 L22,16 M2,8 L22,8"></path>
    </svg>
    <select id="langselect" style="appearance: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; cursor: pointer;">
    <option value="ja_jp" selected>日本語</option>
    <option value="en_us">English</option>
    <option value="zh_cn">中文（简体）</option>
    <option value="zh_tw">中文（繁體）</option>
    <option value="ko_kr">한국어</option>
    <option value="es_es">Español</option>
    <option value="fr_fr">Français</option>
    <option value="ru_ru">Русский язык</option>
    <option value="th_th">ภาษาไทย</option>
    <option value="vi_vn">Tiếng Việt</option>
    <option value="de_de">Deutsch</option>
    <option value="id_id">Bahasa Indonesia</option>
    <option value="pt_pt">Português</option>
    <option value="tr_tr">Türkçe</option>
    <option value="it_it">Italiano</option>
  </select></div>
</header>
<main>
  <div class="contents">
    <h1>{[{about-bpmchange-h1:html}]}</h1>
    <p>{[{about-bpmchange-p1:html}]}</p>
    <p>{[{about-bpmchange-p2:html}]}</p>
    <picture>
      <source srcset="../image/about-bpmchange-0.webp" />
      <img src="../image/about-bpmchange-0.png" />
    </picture>
    <p>{[{about-bpmchange-p3:html}]}</p>
    <p>{[{about-bpmchange-p4:html}]}</p>
  </div>
</main>
</body>
<script>
const langselect = document.getElementById("langselect");
langselect.addEventListener("change", event => {
  window.location = "/genshin-rmm/" + event.target.value + "/about-bpmchange.html";
});
</script>
</html>
