<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{[{about-bpmchange-title:html}]}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="/genshin-rmm/common.css" rel="stylesheet">
  <link href="/genshin-rmm/fonts/font.css" rel="stylesheet">
  <link rel="canonical" href="https://md-ndv356.github.io/genshin-rmm/{[{@langcode:str}]}/about-bpmchange.html">
  {{{alternate-links}}}
  <style>
    .contents {
      color: #f0f0f0;
      margin: 3px 0;
      padding: 5px 8px;
      width: calc(100dvw - 32px);
      max-width: 700px;
      border-radius: 10px;
    }
    img {
      max-width: 520px;
    }
  </style>
</head>
<body class="lang-{[{@langcode:str}]}">
<header>
  <div style="flex: 1;"><a href="/genshin-rmm/{[{@langcode:str}]}/">{[{headtitle:html}]}</a></div>
  <div><select id="langselect">
    <option value="ja_jp" selected>日本語</option>
    <option value="en_us">English</option>
    <option value="zh_cn">中文（简体）</option>
    <option value="zh_tw">中文（繁體）</option>
    <option value="ko_kr">한국어</option>
    <option value="es_es">Español</option>
    <option value="fr_fr">Français</option>
    <option value="ru_ru">Русский язык</option>
    <option value="th_th">ภาษาไทย</option>
    <option value="vi_vn">Tiếng Việt</option>
    <option value="de_de">Deutsch</option>
    <option value="id_id">Bahasa Indonesia</option>
    <option value="pt_pt">Português</option>
    <option value="tr_tr">Türkçe</option>
    <option value="it_it">Italiano</option>
  </select></div>
</header>
<main>
  <div class="contents">
    <h1>{[{about-bpmchange-h1:html}]}</h1>
    <p>{[{about-bpmchange-p1:html}]}</p>
    <p>{[{about-bpmchange-p2:html}]}</p>
    <picture>
      <source srcset="../image/about-bpmchange-0.webp" />
      <img src="../image/about-bpmchange-0.png" />
    </picture>
    <p>{[{about-bpmchange-p3:html}]}</p>
    <p>{[{about-bpmchange-p4:html}]}</p>
  </div>
</main>
</body>
<script>
const langselect = document.getElementById("langselect");
langselect.addEventListener("change", event => {
  window.location = "/genshin-rmm/" + event.target.value + "/about-bpmchange.html";
});
</script>
</html>
